{% extends 'base.html' %}

{% block title %}-Funding{% endblock %}

{% block scripts %}
<script language="javascript">
 function showfunding() {
   alert("강의 펀딩이 개설되었습니다.");
   location.href='.html';

 }



</script>

<!--  업로드  -->
{% load static %}
<script type="text/javascript" src="{% static 'js/app13.js' %}"></script>
{% endblock %}

{% block content %}
<!-- ======== @Region: #content ======== -->
<div id="content">
    <form action="" method="post">
        <div class="container" id="about">
            <div class="row">
                <!--main content-->
                <div class="col-md-9 col-md-push-3">
                    <div class="page-header">
                        <h1>
                            <h3>강의 펀딩</h3>
                        </h1>
                    </div>
                    <div class="block block-border-bottom-grey block-pd-sm">

                        <tr>
                            <th>제목</th>
                            <td>
                                <input type="text" id="title">
                            </td>
                        </tr>
                        <tr>
                            <th><br><br></th>
                        </tr>
                        <tr>
                            <th> 내용</th>
                            <td>
                                <form action="http://localhost/upload.php" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file">
                                </form>
                            </td>

                        </tr>
                        <tr>
                            <th><br><br><br><br><br></th>
                        </tr>
                        <tr>
                            <th>영상</th>
                            <td>
                                <br>
                                <textarea rows="10" cols="80" id="txt1" onkeyup="counter()" maxlength="500"></textarea>
                                <br>
                            </td>
                        </tr>

                        <tr height="2" bgcolor="#FFC8C3">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><br>
                                <input type="submit">
                                <input type=button id="conform" value="확인" onclick="showfunding();">
                                <!-- "window.open('https://www.naver.com/', '_blank', 'width=200, height=300, toolbar=yes, menubar=no, scrollbars=no, resizable=no, copyhistory=no' );" -->
                                <!-- https://blog.naver.com/dasol825/220667449843 -->
                            </td>
                        </tr>
                    </div>
                </div>
                <!-- sidebar -->
                <div class="col-md-2 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                    <h2>내 정보</h2>
                    <hr>
                    <h3>내 정보 수정 . . .</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                        <li><a href="{% url 'edit' %}">회원정보 수정</a></li>
                        </li>
                        <li><a href="{% url 'withdrawal' %}">회원탈퇴</a>
                        </li>
                    </ul>
                    <h3>내 강의 관리 . . . </h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'student' %}">수강생</a>
                        <li><a href="{% url 'teacher' %}">강사</a></li>
                        <li class="active">
                            <a href="{% url 'lecturefunding' %}">
                                강의 펀딩
                                <!-- <small>How to get in touch</small> -->
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}