{% extends 'base.html' %}

{% block title %}-Teacher's List{% endblock %}

{% block scripts %}
<!-- 강사 내부 효과 -->
<script src="js/cbpFWTabs.js"></script>
<script>
    (function() {

      [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
        new CBPFWTabs( el );
      });

    })();
</script>
{% endblock %}

{% block content %}
<!-- ======== @Region: #content ======== -->
<div id="content">
    <div class="container" id="about">
        <div class="row">
            <!--main content-->
            <div class="col-md-9 col-md-push-3">
                <div class="page-header">
                    <h1>
                        <h3>강사</h3>
                    </h1>
                </div>
                <!--내 강의 관리 강사 란-->
                <section>
                    <div class="tabs tabs-style-iconbox">
                        <nav>
                            <ul>
                                <li class="tab-current">
                                    <a href="" class=""><span><h4>개설된 강의 목록</h4></span></a></li>
                                <li><a href="" class=""><span><h4>펀딩중인 강의 목록</h4></span></a></li>
                            </ul>
                        </nav>
                        <div class="content-wrap">
                            <section id="section-iconbox-1" class="content-current"><p>1</p></section>
                            <section id="section-iconbox-2"><p>2</p></section>
                            <section id="section-iconbox-3"><p>3</p></section>
                        </div><!-- /content -->
                    </div><!-- /tabs -->
                </section>
            </div>
            <!-- sidebar -->
            <div class="col-md-2 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                <h2>내 정보</h2>
                <hr>
                <h3>내 정보 수정 . . .</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                    <li><a href="{% url 'edit' %}">회원정보 수정</a></li>
                    </li>
                    <li>
                        <a href="{% url 'withdrawal' %}">
                            회원탈퇴
                            <!-- <small>How to get in touch</small> -->
                        </a>
                    </li>
                </ul>
                <h3>내 강의 관리 . . . </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'student' %}" class="first">수강생</a>
                    <li class="active"><a href="{% url 'teacher' %}">강사</a></li>
                    <li><a href="{% url 'lecturefunding' %}">강의 펀딩</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}