{% extends 'base.html' %}

{% block title %}-Withdrawal{% endblock %}

{% block scripts %}
<script type="text/javascript">

 $(document).ready(function(){
   $( '#tregister' ).hide();
     $("#teacher").click(function(){
       $( '#tregister' ).show();
       $( '#sregister' ).hide();
     })

   id = $('#id').val()
   mbname = $('#mbname').val()
   mbpw1 = $('#mbpw1').val()
   mbpw_re1 = $('#mbpw_re1').val()
   email = $('#email').val()
   txt1 = $('#txt1').val()
   txt2 = $('#txt2').val()

   $("#conform").click(function(){
       $.post("/users/join",
       {
           id : id,
           mbname : mbname,
           mbpw1 : mbpw1,
           mbpw_re1 : mbpw_re1,
           email : email,
           txt1 : txt1,
           txt2 : txt2
       },
       function(data, status){
           alert("data : " + data + " \nStatus : " + status);
       });
   });
   $( '#sregister' ).hide();
     $("#student").click(function(){
       $( '#sregister' ).show();
       $( '#tregister' ).hide();
     })

   id = $('#id').val()
   mbname = $('#mbname').val()
   mbpw1 = $('#mbpw1').val()
   mbpw_re1 = $('#mbpw_re1').val()
   email = $('#email').val()
 });

  function counter(){
   document.getElementById("counting1").innerHTML = document.getElementById("txt1").value.length;
   document.getElementById("counting2").innerHTML = document.getElementById("txt2").value.length;
  }

</script>
<script type="text/javascript">
     function CheckForm(Join){

         //체크박스 체크여부 확인 [하나]
         var chk1=document.frmJoin.U_checkAgreement1.checked;
         var chk2=document.frmJoin.U_checkAgreement2.checked;


         if(!chk2) {
             alert('안내 사항을 모두 확인하였으며, 이에 동의합니다.에 체크해 주세요');
             return false;
         }
         if(chk2){
           if (confirm("회원탈퇴 하시겠습니까?"))
            {
             alert("회원탈퇴 되었습니다.");
             event.preventDefault()
             window.location.assign("index.html");

            }
           }




         //체크박스 체크여부 확인 [동일 이름을 가진 체크박스 여러개일 경우]
         var isSeasonChk = false;
         var arr_Season = document.getElementsByName("SEASON[]");
         for(var i=0;i<arr_Season.length;i++){
             if(arr_Season[i].checked == true) {
                 isSeasonChk = true;
                 break;
             }
         }

     }

</script>
{% endblock %}

{% block content %}
<!-- ======== @Region: #content ======== -->
<div id="content">
    <div class="container" id="about">
        <div class="row">
            <!--main content-->
            <div class="col-md-9 col-md-push-3">
                <div class="page-header">
                    <h1>
                        <h3>회원탈퇴</h3>
                    </h1>
                </div>
                <div class="block block-border-bottom-grey block-pd-sm">


                    <form name="frmJoin" action="" onSubmit="return CheckForm(this)">
                        <tr>
                            <span style="color:red"><h6>그 동안 강의 펀딩 사이트를 이용해주셔서 감사합니다.</h6></span>
                            <span style="color:red"><h6>탈퇴 후에는 아이디와 데이터는 복구할 수 없습니다.</h6></span>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                        <tr>
                            <th> 이 강의 펀딩 사이트를 이용하시면서 불편하신 점이 있었나요?</th>
                            <input type="checkbox" name="U_checkAgreement1" id="U_checkAgreement1" value=""/>
                        </tr>
                        <br><br>
                        <tr>
                            <th>불편한 점이 있으셨다면 이유를 작성해주세요.<br></th>
                            <td>
                                <textarea rows="10" cols="100" id="txt1" onkeyup="counter()" maxlength="500"></textarea>
                                <br>
                                <span id="counting1">0</span>자 /500자
                            </td>
                        </tr>
                        <td><br><br>
                        <th> 안내 사항을 모두 확인하였으며, 이에 동의합니다.</th>
                        <input type="checkbox" name="U_checkAgreement2" id="U_checkAgreement2" value=""/>
                        </tr><br><br>

                        <input type="submit" id="withdrawal" value="회원탈퇴">

                    </form>

                </div>
                <tr height="2" bgcolor="#FFC8C3">
                    <td colspan="2"></td>
                </tr>


            </div>

            <!-- sidebar -->
            <div class="col-md-2 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                <h2>내 정보</h2>
                <hr>
                <h3>내 정보 수정 . . . </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                    <li><a href="{% url 'edit' %}">회원정보 수정</a></li>
                    </li>
                    <li class="active">
                        <a href="{% url 'withdrawal' %}">
                            회원탈퇴
                            <!-- <small>How to get in touch</small> -->
                        </a>
                    </li>
                </ul>
                <h3>내 강의 관리 . . . </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'student' %}">수강생</a>
                    <li><a href="{% url 'teacher' %}">강사</a></li>
                    <li><a href="{% url 'lecturefunding' %}">강의 펀딩</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}