<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?
        scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.metadata.readonly&
        include_granted_scopes=true&
        state=state_parameter_passthrough_value&
        redirect_uri=http://127.0.0.1:8000/social/complete/google-plus/
        response_type=code&
        client_id=100192715150-o7ganla1np2ei51g8h006dppubpsm948.apps.googleusercontent.com">google login</a>
    </body>
</html>