<!--register0.html files renamed join.html-->
{% extends 'baseNoFooter.html' %}

{% block title %}-Article{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!-- ======== @Region: #content ======== -->
<div id="content">
    <div class="container" id="about">
        <div class="row">
            <!--main content-->
            <div class="col-md-9 col-md-push-1">
                <div class="page-header">
                    <h3>회원가입</h3>
                    <br><br><br>
                    <div align="middle">
                        <form method="get">
                            <input type=submit
                                   formaction="{% url 'social:begin' 'google-plus' %}"
                                   style="WIDTH: 80pt; HEIGHT: 80pt" value="구글 회원가입">
                            <input type=submit formaction="{% url 'article' %}"
                                   style="width:80pt;height:80pt;" value="일반 회원가입">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}