<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="id=edge">
        <title>Title</title>
    </head>
    <body>
        <form action="/users/login/" method="POST">
            {% csrf_token %}
            <input type="text" id="id" name="id" required>
            <input type="text" id="password" name="password" required>
            <button type="submit">로그인</button>
        </form>

        <form action="/users/join/article" method="GET">
            <button type="submit">회원가입</button>
        </form>

    </body>
</html>