<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FundingForLecture{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    {% load static %}
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/icons/114x114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/icons/72x72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/icons/default.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/owl.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/owl.transitions.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
    <link href="#" id="colour-scheme" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Flexor
      Theme URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="page-index has-hero">
<!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
<div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1">
    <!-- ======== @Region: #navigation ======== -->
    <div id="navigation" class="wrapper">
        <!--Hidden Header Region-->
        <!--Header & navbar-branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row">
                    <div class="col-md-8">
                        <!--                        navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                        <!--                        <a class="navbar-brand" href="{% url 'index' %}" title="Home">-->
                        <h1><a href="{% url 'index' %}">강의 펀딩</a></h1>
                        <h1 class="hidden"></h1>
                    </div>
                    <!--header rightside-->
                    <div class="col-md-4">
                        <!--user menu-->
                        <ul class="list-inline user-menu pull-right">

                            {% if request.session.name != null %}
                            <li><h5><b>{{ request.session.name }}님 환영합니다</b></h5></li>
                            <li class="user-login">
                            <li class="fa fa-sign-in text-primary"></li>
                            <a href="{% url 'logout' %}" methods="get" class="text-uppercase">로그아웃</a></li>

                            {% else %}
                            <li class="user-register"><i class="fa fa-edit text-primary "></i>
                                <a href="{% url 'join' %}" methods="get" class="text-uppercase">회원가입</a></li>
                            <li class="user-login"><i class="fa fa-sign-in text-primary"></i>
                                <a href="{% url 'login' %}" methods="post" class="text-uppercase">로그인</a></li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar navbar-default">
                <!--mobile collapse menu button-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <!--social media icons-->
                <div class="navbar-text social-media social-media-inline pull-right">
                    <!--@todo: replace with company social media details-->

                    <div id="search"> <!검색창>
                        <form action="#" method="post">
                            <fieldset>
                                <input type="text" value="" placeholder="강의, 강사명을 입력해주세요."
                                       onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;"/>
                                <input type="submit" name="go" id="go" value="검색"/>
                            </fieldset>
                        </form>
                    </div>

                </div>
                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="main-menu">
                        {% if request.session.name != null %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">내 정보</a>
                            <!--class="caret"이 화살표 -->
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'edit' %}" tabindex="-1" class="menu-item">내 정보 수정</a></li>
                                <li><a href="{% url 'withdrawal' %}" tabindex="-1" class="menu-item">내 강의 관리</a></li>
                                <li><a href="{% url 'lecturefunding' %}" tabindex="-1" class="menu-item">Login</a></li>
                                <li><a href="{% url 'student' %}" tabindex="-1" class="menu-item">Sign-Up</a></li>
                            </ul>
                        </li>
                        {% else %}
                        {% endif %}
                        <li class="dropdown dropdown-mm">
                            <a href="systemnotice.html" class="dropdown-toggle" data-toggle="dropdown">공지사항</a>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'system_notice' %}" tabindex="-1" class="menu-item">시스템 공지</a></li>
                                <li><a href="{% url 'lecture_notice' %}" tabindex="-1" class="menu-item">강의 공지</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-mm">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">강의목록</a>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                <li class="row">
                                <li><a href="{% url 'list_all' %}">전체 강의목록</a></li>
                                <li><a href="{% url 'list_opening' %}">개설된 강의목록</a></li>
                                <li><a href="{% url 'list_funding' %}">펀딩중인 강의목록</a></li>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
    <div class="hero" id="highlighted">
        <div class="inner">
            <!--Slideshow-->
            <div id="highlighted-slider" class="container">
                <div class="item-slider" data-toggle="owlcarousel"
                     data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                    <!--Slideshow content-->
                    <!--Slide 1-->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6 item-caption">
                                <h2 class="">
                                    강사 이름 <span class="text-primary">라이언</span>
                                </h2>
                                <h4 class="">
                                    강사 이메일 <span class="text-primary">rion@node.com</span>
                                </h4>
                                <h4 class="">
                                    난이도 <span class="text-primary">중</span>
                                </h4>

                                <h4>
                                    Node.js의 첫 걸음
                                </h4>
                                <p>서버 개발 입문자도 단계별로 하나씩, 레고 블록 쌓듯 완성품을 만든다!!!</p>
                                <a href="https://bootstrapmade.com" class="btn btn-more btn-lg i-right">강의 펀딩 <i
                                        class="fa fa-plus"></i></a>
                            </div>
                            <div class="col-md-6 col-md-pull-6 hidden-xs">
                                <img src="{% static 'img/slides/teacher.png' %}" alt="Slide 1"
                                     class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                    <!--Slide 2-->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6 item-caption">
                                <h2 class="">
                                    강사 이름 <span class="text-primary">튜브</span>
                                </h2>
                                <h4 class="">
                                    강사 이메일 <span class="text-primary">tube@python.com</span>
                                </h4>
                                <h4 class="">
                                    난이도 <span class="text-primary">중</span>
                                </h4>

                                <h4>
                                    파이썬 너도 할 수 있다
                                </h4>
                                <p>웹 프로그래밍 튜브가 쉽고 자세하게 알려줍니다! 믿으세요!</p>
                                <a href="https://bootstrapmade.com" class="btn btn-more btn-lg i-right">강의 펀딩 <i
                                        class="fa fa-plus"></i></a>
                            </div>
                            <div class="col-md-6 col-md-pull-6 hidden-xs">
                                <img src="{% static 'img/slides/tube.png' %}" alt="Slide 1"
                                     class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ======== @Region: #content ======== -->
<div id="content">
    <!-- Mission Statement -->
    <div class="mission text-center block block-pd-sm block-bg-noise">
        <div class="container">
            <h2>공부자극 명언</h2><br><br>
            상어는 물고기중 유일하게 부레가 없다.<br><br>

            부레 없는 물고기는 물속에서 생존이 불가능하다.<br><br>

            행동이 매우 불편하고, 조금만 바다 속에 머물러 있어도 바닥으로 가라앉아 죽고 만다.<br><br>

            상어는 태어난 순간부터 죽을 때까지 끊임없이 몸을 움직여야 했다.<br><br>

            힘겨운 노력이 쌓여 상어는 바다의 절대제왕으로 거듭났다.<br><br><br>

            - 쑤린, 도서
            &#60;유대인 생각공부&#62; 중에서 -
            <h3 class="text-shadow-white">

                <a href="http://www.yes24.com/Product/Goods/72269639" class="btn btn-more"><i class="fa fa-plus"></i>Read
                    more</a>
            </h3>
        </div>
    </div>
</div>
<!-- /content -->
<!-- Call out block -->
<div class="block block-pd-sm block-bg-primary">
    <div class="container">
        <div class="row">
            <h3 class="col-md-4">
                Some of our Clients
            </h3>
            <div class="col-md-8">
                <div class="row">
                    <!--Client logos should be within a 120px wide by 60px height image canvas-->
                    <div class="col-xs-6 col-md-2">
                        <a href="https://bootstrapmade.com" title="Client 1">
                            <img src="{% static 'img/clients/client1.png' %}" alt="Client 1 logo"
                                 class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://bootstrapmade.com" title="Client 2">
                            <img src="{% static 'img/clients/client2.png' %}" alt="Client 2 logo"
                                 class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://bootstrapmade.com" title="Client 3">
                            <img src="{% static 'img/clients/client3.png' %}" alt="Client 3 logo"
                                 class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://bootstrapmade.com" title="Client 4">
                            <img src="{% static 'img/clients/client4.png' %}" alt="Client 4 logo"
                                 class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://bootstrapmade.com" title="Client 5">
                            <img src="{% static 'img/clients/client5.png' %}" alt="Client 5 logo"
                                 class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://bootstrapmade.com" title="Client 6">
                            <img src="{% static 'img/clients/client6.png' %}" alt="Client 6 logo"
                                 class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======== @Region: #footer ======== -->
<footer id="footer" class="block block-bg-grey-dark" data-block-bg-img="{% static 'img/bg_footer-map.png' %}"
        data-stellar-background-ratio="0.4">
    <div class="container">

        <div class="row" id="contact">

            <div class="col-md-3">
                <address>
                    <strong>Flexor Bootstrap Theme Inc</strong>
                    <br>
                    <i class="fa fa-map-pin fa-fw text-primary"></i> Sunshine House, Sunville. SUN12
                    <br>
                    <i class="fa fa-phone fa-fw text-primary"></i> 019223 8092344
                    <br>
                    <i class="fa fa-envelope-o fa-fw text-primary"></i> info@flexorinc.com
                    <br>
                </address>
            </div>

            <div class="col-md-6">
                <h4 class="text-uppercase">
                    Contact Us
                </h4>
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                   data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                   data-rule="email" data-msg="Please enter a valid email"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
                <h4 class="text-uppercase">
                    Follow Us On:
                </h4>
                <!--social media icons-->
                <div class="social-media social-media-stacked">
                    <!--@todo: replace with company social media details-->
                    <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                    <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
                    <a href="#"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
                    <a href="#"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
                </div>
            </div>

        </div>

        <div class="row subfooter">
            <!--@todo: replace with company copyright details-->
            <div class="col-md-7">
                <p>Copyright © Flexor Theme</p>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flexor
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="col-md-5">
                <ul class="list-inline pull-right">
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <a href="#top" class="scrolltop">Top</a>

    </div>
</footer>

{% load static %}
<!-- Required JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/stellar/stellar.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Specisifc Custom Javascript File -->
<!--<script src="{% static 'js/custom.js' %}"></script>-->

<!--Custom scripts demo background & colour switcher - OPTIONAL -->
<!--<script src="{% static 'js/color-switcher.js' %}"></script>-->

<!--Contactform script -->
<!--<script src="{% static 'contactform/contactform.js' %}"></script>-->

</body>
</html>
