{% extends 'base.html' %}

{% load static %}

{% block slidebar %}
<div class="hero" id="highlighted">
    <div class="inner">
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel"
                 data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
                <!--Slide 1-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 item-caption">
                            <h2 class="">
                                강사 이름 <span class="text-primary">라이언</span>
                            </h2>
                            <h4 class="">
                                강사 이메일 <span class="text-primary">rion@node.com</span>
                            </h4>
                            <h4 class="">
                                난이도 <span class="text-primary">중</span>
                            </h4>

                            <h4>
                                Node.js의 첫 걸음
                            </h4>
                            <p>서버 개발 입문자도 단계별로 하나씩, 레고 블록 쌓듯 완성품을 만든다!!!</p>
                            <a href="https://bootstrapmade.com" class="btn btn-more btn-lg i-right">강의 펀딩 <i
                                    class="fa fa-plus"></i></a>
                        </div>
                        <div class="col-md-6 col-md-pull-6 hidden-xs">
                            <img src="{% static 'img/slides/teacher.png' %}" alt="Slide 1" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 item-caption">
                            <h2 class="">
                                강사 이름 <span class="text-primary">튜브</span>
                            </h2>
                            <h4 class="">
                                강사 이메일 <span class="text-primary">tube@python.com</span>
                            </h4>
                            <h4 class="">
                                난이도 <span class="text-primary">중</span>
                            </h4>

                            <h4>
                                파이썬 너도 할 수 있다
                            </h4>
                            <p>웹 프로그래밍 튜브가 쉽고 자세하게 알려줍니다! 믿으세요!</p>
                            <a href="https://bootstrapmade.com" class="btn btn-more btn-lg i-right">강의 펀딩 <i
                                    class="fa fa-plus"></i></a>
                        </div>
                        <div class="col-md-6 col-md-pull-6 hidden-xs">
                            <img src="{% static 'img/slides/tube.png' %}" alt="Slide 1" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <!-- Mission Statement -->
    <div class="mission text-center block block-pd-sm block-bg-noise">
      <div class="container">
        <h2>공부자극 명언</h2><br><br>
        상어는 물고기중 유일하게 부레가 없다.<br><br>

        부레 없는 물고기는 물속에서 생존이 불가능하다.<br><br>

        행동이 매우 불편하고, 조금만 바다 속에 머물러 있어도 바닥으로 가라앉아 죽고 만다.<br><br>

        상어는 태어난 순간부터 죽을 때까지 끊임없이 몸을 움직여야 했다.<br><br>

        힘겨운 노력이 쌓여 상어는 바다의 절대제왕으로 거듭났다.<br><br><br>

        - 쑤린, 도서
        &#60;유대인 생각공부&#62; 중에서 -
          <h3 class="text-shadow-white">

            <a href="http://www.yes24.com/Product/Goods/72269639" class="btn btn-more"><i class="fa fa-plus"></i>Read
              more</a>
          </h3>
      </div>
    </div>
  </div>
<!-- /content -->
{% endblock %}